body{
    font-family: Arial, sans-serif;
    background: color #dad7cd;
    margin: 0;
    padding-top: 70px;
}
header{
    background-color: #588157;
    color: #2e4539;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #588157;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.menu-item{
    text-decoration: none;
    color: #2e4539;
    padding: 10px;
    display: inline-block;
}
.menu-item:hover{
    background-color: #a3b18a;
    transition: all 0.4s ease-in-out;
}
section{
    padding: 20px;
    border: 2px #000 solid;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #a3b18a;
    color: #2e4539;
}
#Acerca-de-mi{
    text-align: justify;
}
#Habilidades ul{
    list-style: none;
    padding: 0;
}
#Habilidades ul li{
    display: inline-block;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 10px;
}
#Experiencia ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#Experiencia ul li{
    margin-bottom: 5px;
    margin-top: 5px;
}
#Proyectos ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#Proyectos ul li a{
    text-decoration: none;
    color: #2e4539;

}
#Proyectos ul li a:hover{
text-decoration: underline;
}
#Sociales{
    list-style: none;
    display: inline-block;
    padding: 0;
}
#sociales li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
.fa{
    color: #333;
    text-decoration: none;
    margin-left: 0px;
}
.Redes{
    list-style: none;
    padding: 0;
}
.Redes li a{
    margin-right: 30px;
}
#Información-de-contacto ul li{
    margin-bottom: 10px;
}
footer{
    background: color #dad7cd;
    color: #2e4539;
    text-align: center;
    padding: 10px;
}